*{
  box-sizing: border-box;
}
body{
  background-color: #f2f2f2;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .wrapper-content, .auth{
    flex-grow: 1;
  }
}
.container{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 10px;
}
.container_scroll{
  overflow: scroll;
}
.title{
  font-size: 24px;
  padding: 10px 0px;text-align: center;
}
a{
  color: inherit;
  display: block;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.page-button{
  padding: 5px 40px;
  border-radius: 4px;
  border: none;
  background-color: #4b40e3;
  color: #ffffff;
  margin-top: 10px;
}

.link-white {
  padding: 10px;
  color: #ffffff;
  display: block;
}
.link-inline-block{
  display: inline-block;
}
.hidden{
  display: none;
}
